body {
  margin: 0;
  padding: 0;
  font-family: itc-american-typewriter, serif;
  font-style: normal;

  ;
}

.card {
  /* Add shadows to create the "card" effect */
  
  margin-bottom:10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width:300px;
  border: 2px solid black;
  font-family: itc-american-typewriter, serif;
  cursor:pointer;

font-weight: 700;

font-style: normal;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Add some padding inside the card container */
.bottom {
  padding: 4px;
  display:flex;
  font-weight: 500;
  flex-direction:column;
}

.title {
  margin-left:4px;
  color:black;
  font-size:24px;}


.top {
  width:100%;
  border-bottom:2px solid black;
}

.warning {
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 2px,
    white 2px,
    white 4px
  );
}

.error {
  background: repeating-linear-gradient(
    45deg,
    #FFB6AD,
    #FFB6AD, 2px,
    white 2px,
    white 3px
  );
}

.content-top {
  display:flex;
  justify-content:space-between;
  width:100%;
}

.description {
  width:100%;
  margin-top:4px;
}

.error-type {
  font-size:18px;
  font-weight:bold;
}

.icon {
  border:1px solid black;
  padding:1px;
}

.selected {
  box-shadow: 0 8px 16px 0 rgba(236, 150, 150, 1);
}


